* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #343434;
}

header {
  display: flex;
  background-color: #444;
  padding: 30px 30px;
  border-radius: 15px;
}
h1 {
  flex: 5;
  color: #fff;
  font-size: 38px;
}

.search {
  flex: 1;
  font-size: 18px;
  font-family: inherit;
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 13px;
}

h2 {
  color: #fff;
  margin-bottom: 12px;
}

h2 + p {
  color: #fff;
}

.app {
  height: 825px;
  margin: 50px 50px;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: max-content;

  grid-column-gap: 30px;
  grid-row-gap: 30px; /* Adjust row gap if needed */
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.grid-container div {
  padding: 20px;
  background-color: #f15a8a;
  border-radius: 15px;
  height: max-content;
}

.myButton {
  position: absolute;
  bottom: 20px;
  right: 30px;
  background-color: #444;
  border-radius: 42px;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 22px;
  padding: 16px 22px;
  text-decoration: none;
}
.myButton:hover {
  background-color: #3c3c3c;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  position: absolute;
  bottom: 20px;
  right: 30px;
  padding: 15px 30px;
  background-color: #444;
  border-radius: 15px;
  width: 350px;
}

.title {
  align-self: flex-end;
}

.close {
  flex-grow: 0;
  font-size: 50px;
  text-decoration: none;
  color: #f15a8a;
  cursor: default;
}

.close:hover {
  color: #cd4e76;
}

form > * {
  flex-grow: 1;
}

label {
  font-size: 25px;
  color: #fff;
}

form input,
select,
button,
textarea {
  border-radius: 10px;
  font-size: 18px;
  padding: 0.25em 0.5em;
  background-color: #fff;
}

textarea {
  resize: none;
}

button {
  padding: 10px 8px;
}
